.details-container {
  height: 831px;
  background: #ffffff;
}
.details-dashboard {
  display: grid;
  grid-template-columns: 323px 1fr 328px;
  gap: 29px;
}
.details {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}
.details-description {
  margin-bottom: 6.5px;
}
.details-descriptions {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
}
.details-description-text {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #757575;
  margin-top: 17.5px;
}
.details-tag {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  color: #212121;
}
.details-tags {
  margin-bottom: 36px;
}
.details-tag-text {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #757575;
}
.details-calendar-container {
  display: flex;
  margin-bottom: 33px;
}
.details-calendar {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #212121;
}
.details-hour-container {
  margin-bottom: 24px;
}
.details-hour-main {
  display: flex;
}
.details-hour {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  color: #212121;
  margin-right: 28px;
}
.details-minute {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  color: #212121;
  margin-right: 28px;
}

.details-person-text {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  color: #212121;
  margin-left: 8px;
}
.details-person-edit {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 23px;
}

.mb-17 {
  margin-bottom: 17px;
}
.details-scrollbar {
  position: absolute;
  top: 0px;
  right: 0px;
}
.details-priority {
  margin-bottom: 23.5px;
}
.details-calendar-main {
  margin-right: 260px;
}
