.details-container {
  height: 831px;
  background: #ffffff;
}
.details-dashboard {
  display: grid;
  grid-template-columns: 323px 1fr 328px;
  gap: 24px;
}
.details {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}
.details-descriptions {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
}
.details-description-text {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #757575;
  margin-top: 17.5px;
}
.details-tag {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  color: #212121;
}
.details-tag-text {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #757575;
}
.details-calendar {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #212121;
}
.details-hour {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  color: #212121;
}
.details-person-text {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  color: #212121;
}
.details-person-edit {
  align-items: center;
  justify-content: center;
}
