.tasks {
  margin-top: 24px;
}
.tasks-top-text {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 135%;
  display: flex;
  align-items: center;
  color: #212121;
  margin-bottom: 48px;
}

.tasks-top-text img {
  margin-left: 8px;
}
.task-name {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  color: #212121;
}
