.sidebar-menu-items {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
.sidebar-title {
  font-family: "Lato";
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  margin-left: 14px;
}
.sidebar-text {
  width: 124px;
  height: 24px;
  margin-bottom: 24px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  text-align: left;
  font-size: 16px;
  line-height: 135%;
}

span {
  font-family: "Lato";
}
