.app {
  display: grid;
  grid-template-columns: 261px 1fr;
  column-gap: 10px;
}
.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.6);
  display: none;
}
.overlay-active {
  display: block;
}
