.my-tasks {
  display: flex;
  align-items: center;
  margin-top: 34.5px;
  margin-bottom: 27.5px;
}
.my-tasks-text {
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 135%;
  flex-grow: 1;
  align-items: center;
}
