.action-button {
  display: flex;
  height: 40px;
  width: fit-content;
  align-items: center;
  gap: 8px;
  padding-left: 16px;
  padding-right: 16px;
  background: #ffffff;
  border: 1px solid #724cf9;
  border-radius: 12px;
  color: #724cf9;
  margin-left: 16px;
  cursor: pointer;
}

.action-button-icon {
}
.action-button-text {
  font-family: "Assistant";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
}

.actions-filter {
  margin-left: 32px;
}
.add-new-task {
  background-color: #724cf9;
  color: #ffffff;
}
